<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="index.html">
    <img id="logo" src="assets/my_sig_trans.png" alt="logo" class="rounded-circle" />
  </a>

  <button class="navbar-toggler" type="button"
    data-toggle="collapse" data-target="#collapsible">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsible">
    <ul class="navbar-nav nav-tabs text-center">
      <li class="nav-item">
        <a class="nav-link" href="skills.html">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="projects.html">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacts.html">Contacts</a>
      </li>
    </ul>
  </div>
</nav>
